@import url('https://fonts.googleapis.com/css2?family=Karla:ital@1&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserat, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo styling */

h1, h2 {
    font-family: Karla, sans-serif;
    letter-spacing: 3px;
    color: #252525;
}

#my-logo {
    float: left;
    font-size: 280%;
}