@import url('https://fonts.googleapis.com/css2?family=Karla:ital@1&family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserat, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo styling */

h1, h2, h3 {
    font-family: Karla, sans-serif;
    letter-spacing: 3px;
    color: #252525;
}

#my-logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#pages-menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#pages-menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#pages-menu, #my-logo {
    line-height: 75px;
}

#pages-menu a {
    text-decoration: none;
    color: inherit;
}

#pages-menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero images */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
    overflow: hidden;
}

#hero-image {
    text-align: center;
    background-color: darkgreen;
    text-decoration: solid;
    text-transform: capitalize;
}

#hero-text {
    background-color: antiquewhite;
    width: 50%;
    border: 5px solid #3a3a3a;
    padding: 10px;
    margin: 0 auto;
}


#hero2-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero2-image.jpg') no-repeat center center;
    overflow: hidden;
}

#hero-text2 {
    color: #3a3a3a;
}


#hero2-image {
    text-align: center;
    background-color: darkgreen;
    text-decoration: solid;
    text-transform: capitalize;
}

#hero-text2 {
    background-color: antiquewhite;
    width: 50%;
    border: 5px solid #3a3a3a;
    padding: 10px;
    margin: 0 auto;
}

#hero3-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero3-image.jpg') no-repeat center center;
    overflow: hidden;
}

#hero-text3 {
    background-color: antiquewhite;
    width: 50%;
    border: 5px solid #3a3a3a;
    padding: 10px;
    margin: 0 auto;
}

#hero3-image {
    text-align: center;
    background-color: darkgreen;
    text-decoration: solid;
    text-transform: capitalize;
}


#hero-text3 {
    color: #3a3a3a;
}


/* about h1 and paragraph styling */

#about {
    text-align: center;
    text-transform: capitalize;
}

#about h1 {
    background-color: antiquewhite;
    width: 50%;
    border: 5px solid #3a3a3a;
    padding: 10px;
    margin: 0 auto;
}

.about1 {
    font-size: 160%;
}

.about-h1 {
    background-color: antiquewhite;
    width: 50%;
    border: 5px solid #3a3a3a;
    padding: 10px;
    margin: 0 auto;
}

/* div style for div containing list */

#tea {
    background-color: darkgreen;
}

/* list for tea receipe styling */

ul {
    }

#one {
    text-align: center;
    font-size: 160%;
    background-color: antiquewhite;
    width: 50%;
    border: 5px solid #3a3a3a;
    padding: 10px;
    margin: 0 auto;
    list-style-type: none;
}

.one {
    text-decoration: underline;
    font-weight: bold;
}


/* footer styling */

.bold {
    font-weight: bold;
    text-align: center;
}

#foot {
    text-align: center;
    font-size: 160%;
    color: antiquewhite;
}

footer {
    height: 150px;
    background-color: darkgreen;
    padding: 5%;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: antiquewhite;
}


/* breakpoint for landscape tablet devices */
@media screen and (max-width: 992px) {
    
  }

  /* breakpoint for large mobile devices */
@media screen and (max-width: 768px) {
    
}

/* breakpoint for small mobile devices */
@media screen and (max-width: 600px) {
    
}